@import "styles/default-components.css";
@import "styles/usermenu.css";
@import "styles/restaurants.css";
@import "styles/menu.css";
@import "styles/login.css";
@import "styles/registration.css";
@import "styles/home.css";
@import "styles/foods.css";
@import "styles/checkout.css";
@import "styles/myorders.css";

@font-face {
    font-family: RobotoRegular;
    src: url(fonts/Roboto-Regular.ttf);
}

body {
    font-family: RobotoRegular, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #212121;
    height: 100vh;
    width: 100vw;
    color: white;
}
button, button:active, button:focus, input, input:active, input:focus {
    outline:none;
}

.grid-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55px 1fr;
    grid-template-areas: "menu" "root";
}

.menu { grid-area: menu; }

.root { grid-area: root; overflow: hidden}
