.checkout{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.checkout-label-title
{
    padding: 6px;
}

.checkout-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}
.checkout-section-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.checkout-radiobutton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-textfield {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.checkout-continue-button {
    background-color: #ef6c00;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: bottom;
    text-align: right;
}

.checkout-continue-button:hover{
    background-color: #ef5300;
}

.checkout-image{
    font-size: 32px;
    color: white;
    margin-right: 6px;
}

.checkout-done-view-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-done-title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 36px;
    color: #4caf50;
}